* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #d6d1d1;
}

.card {
    width: 220px;
    box-shadow: 1px 1px 4px #575353, -2px -2px 4px #fdfdfd;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;

}

.card input {
    width: 100%;
    border: 0;
    outline: none;
    box-shadow: inset 1px 1px 4px #575353, inset -3px -2px 8px #fdfdfd;
    padding: 5px;
    background: none;
    text-align: right;
}

.card-input {
    padding-bottom: 20px;
}

.card-body {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

}

.card button {
    width: 37px;
    height: 30px;
    background: none;
    border: 0;
    box-shadow: 1px 1px 4px #575353, -2px -2px 4px #fdfdfd;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.card button:active {
    box-shadow: inset 1px 1px 4px #575353, inset -3px -2px 8px #fdfdfd;

}

.clear {
    background-color: #dd3333 !important;
    color: #fff;
}

.plus,
.minus,
.multi,
.devison,
.equal {
    background-color: #000 !important;
    color: #fff;
}